body {
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 13px 40px;
  vertical-align: middle;
  font: inherit;
  font-weight: 500;
  color: #000000;
  line-height: 1.13;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;
  border-style: none;
  cursor: pointer;
  border-radius: 2px;
}

.btn-red {
  color: #ffffff;

  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.advantage-btn-red {
  color: #ffffff;
  background-color: #fb565a;
}

.advantage-btn-red:hover {
  background-color: #e74246;
}

.advantage-btn-red:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.advantage-btn-green {
  color: #ffffff;
  background-color: #00ca74;
}

.advantage-btn-green:hover {
  background-color: #00bc6c;
}

.advantage-btn-green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.advantage-btn-yellow {
  color: #ffffff;
  background-color: #efc84a;
}

.advantage-btn-yellow:hover {
  background-color: #eab534;
}

.advantage-btn-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.header-logo:hover {
  opacity: 0.5;
}

.header-logo:active {
  opacity: 0.2;
}

.header-menu-link {
  position: relative;
  color: black;
  text-decoration: none;
}

.header-menu-link:hover {
  color: #fb565a;
}

.header-menu-link:active {
  opacity: 0.3;
}

.header-main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.header-main-nav {
  display: flex;
  padding: 50px 20px 0;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: box;
  text-transform: uppercase;
}

.menu {
  display: flex;
  margin: 0 0 0 180px;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu-item {
  padding: 0 25px;
}

.header-cart {
  position: relative;
  right: 0;
  padding: 10px 15px;
}

.header-cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  width: 15px;
  height: 15px;
  background: url("../img/svg/cart-icon.svg") no-repeat center;
  transform: translateY(-50%);
}

.header-cart::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -15px;
  display: block;
  width: calc(100% + 15px);
  height: 2px;
  background-color: #fb565a;
}

.advantages {
  position: relative;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 60px 20px 80px 20px;
  flex-wrap: wrap;
  list-style: none;
}

.advantage-item {
  position: relative;
  width: 300px;
  margin-top: 165px;
}

.advantage-item:second-child,
.advantage-item:last-child {
  margin-left: 100px;
}

.advantage-title {
  color: #000000;
  font-size: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
}

.advantage-content {
  padding-bottom: 35px;
}

.studio {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 20px 50px 20px;
}


.clients {
  position: relative;
}

.clients::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #eeeeee;
}

.clients-list {
  display: flex;
  margin: 0;
  padding: 45px 0;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.clients-item {
  position: relative;
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%
  text-align: center;
}

.clients-item-logo {
  opacity: 0.2;
}

 .clients-item-logo:hover {
  opacity: 1;
 }

 .clients-item-logo:active {
  opacity: 0.1;
 }

.clients-item:not(:nth-of-type(4n+1))::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -2px;
  width: 2px;
  height: 52px;
  border-left: 2px solid #eeeeee;
  transform: translateY(50%);
}

.filters {
  width: 300px;
  padding: 20px;
}

.filters-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;

}

.filter-grids,
.filter-features {
  margin: 0;
  padding: 0;
  border-style: none;
}

.templates {
  width: 800px;
  margin-left: auto;
  padding: 20px;
  box-sizing: border-box;
}

.templates-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.templates-item {
  padding-top: 0;
  width: 360px;
  padding-bottom: 75px;
  margin-top: 80px;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.feedback-form {
  position: absolute;
  top: -55px;
  width: 960px;
  height: 590px;
  margin: 0 auto;
  padding: 80px 100px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.feedback-form-title {
  display: block;
  font-size: 45px
  font-weight: bold;
  color: #000000;
}

.feedback-form-area {
  display: flex;
}

.feedback-form-label {
  display: block;
  padding-bottom: 12px;
  color: #000000;
  font-weight: bold;
}

.feedback-form-text {
  margin: 40px;
}

.feedback-form-text,
.feedback-form-email {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 15px;
  vertical-align: middle;
  color: #444444;
  border: 2px solid #d7dcde;
}

.feedback-form-textarea {
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  width: 760px;
  height: 120px;
  margin-bottom: 47px;
}

.feedback-form-text:active,
.feedback-form-email:active,
.feedback-form-textarea:active {
  outline: none;
  border: 2px solid #b4b9bb;
  background-color: #ffffff;
}

.feedback-form-text:hover,
.feedback-form-email:hover,
.feedback-form-textarea:hover {
  outline: none;
  border: 2px solid #b4b9bb;
}

.feedback-form-text:focus,
.feedback-form-email:focus,
.feedback-form-textarea:focus {
  outline: none;
  border: 2px solid #000000;
}

.feedback-form-text:invalid,
.feedback-form-email:invalid,
.feedback-form-textarea:invalid {
  outline: none;
  border: 2px solid #e74246;
  background-color: #ffffff;
}

.feedback-form-btn-submit {
  width: 260px;
}

.feedback-form-close {
  position: absolute;
  top: 75px;
  right: 90px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-style: none;
  opacity: 0.5;
}

.feedback-form-close:hover {
  opacity: 1;
}
